/*
.blackbox {

  width: 75px;
  background-color: black;
  border-radius: 10px;
  padding: 5px;
}

#dullred active  {
  height: 40px;
  width: 40px;
  background-color: darkred;
  border-radius: 100%;
  opacity: 0.5;
  opacity: 1;
}
#dullorange {
  height: 40px;
  width: 40px;
  background-color: darkorange;
  border-radius: 100%;
  position: relative;
  left: 15px;
  top: 30px;
  opacity: 0.5;
}
#dullgreen  {
  height: 40px;
  width: 40px;
  background-color: darkgreen;
  border-radius: 100%;
  position: relative;
  left: 15px;
  top: 60px;
  opacity: 0.5;
}
*/
